<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @cur_date %>
</p>

<p>
  <strong>Current temp:</strong>
  <%= @current_temp %>
</p>

<p>
  <strong>Current condition:</strong>
  <%= @current_cond %>
</p>  
